{% extends 'base.html.twig' %}

{% block title %}Hello GolfClubController!{% endblock %}

{% block body %}
    {{ parent() }}

    <main class="container">
        <h1 class="text-black text-uppercase text-center my-4">Golf clubs</h1>
        <p class="text-black text-center my-4">Select a golf club or create a new one to proceed</p>
        <div class="row">
            <div class="col-md-10 col-sm-10 mx-auto p-0">
                <div class="p-3">
                    <ul class="list-group list-group-flush border-top-0">
                        {% for club in clubs %}
                            <li class="d-flex justify-content-between flex-column align-items-center mb-3 px-4 card">
                                <div class="item-header col-12 d-flex flex-row justify-content-space-between mt-3 mr-3 ml-3">
                                    <div class="golfclub-title-container col-11">
                                        <h2
                                                class='golfclub-title mr-2 mt-3 mb-3'
                                                title={{ club.name }}
                                        >
                                            {{ club.name }}
                                        </h2>
                                    </div>
                                    <div class="golfclub-image-container">
                                        <img src='{{ club.imageUrl }}' class="mh-100 mw-100 golfclub-image img-fluid" alt={{ club.name }}/>
                                    </div>
                                </div>
                                <div class="item-body col-12 d-flex">
                                    <div class="d-flex justify-content-start flex-row col-9 align-items-end card mb-3 px-3">
                                        <div class="item-body-address col-6 m-0 p-0">
                                            <p class="street-nr mt-3">{{ club.street }}</p>
                                            <p class="zip-city">{{ club.zipCode }} {{ club.city }}</p>
                                            <p>Tel: {{ club.phone }}</p>
                                        </div>
                                        <div class="item-body-web col-6 text-right mt-3">
                                            <p><a href='{{ club.websiteUrl }}' target='_blank'>Visit website</a></p>
                                            <p><a href='mailto:{{ club.email }}'>Write mail</a></p>
                                        </div>
                                    </div>
                                    <div class="item-body-select col-3 mb-3 pr-0 d-flex flex-column justify-content-end">
                                        <div class="d-flex flex-row justify-content-end">
                                            <a class="btn btn-primary float-right float-bottom" href="/golfcourse?clubId={{ club.id }}">
                                                Select
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="mb-3 mt-3 d-flex flex-row justify-content-center">
                        <a class="btn btn-primary w-25" href="/creategolfclub">
                            Add new club
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
