{% extends 'base.html.twig' %}

{% block title %}Hello HoleController!{% endblock %}

{% block body %}
    {{ parent() }}

    <main class="container">
        <h1 class="text-black text-uppercase text-center my-4">Holes</h1>
        <p class="text-black text-center my-4">Select a hole to view scores or create a new hole to proceed</p>
        <div class="row">
            <div class="col-md-10 col-sm-10 mx-auto p-0">
                <div class="p-3">
                    <ul class="border-top-0 col-12 row">
                        {% for hole in holes %}
                            <li class="d-flex justify-content-between flex-column align-items-center card mb-3 px-4 col-12 col-xl-6">
                                <div class="item-header col-12 d-flex flex-row justify-content-between mt-3 mr-3 ml-3">
                                    <div class="golfclub-title-container d-flex justify-content-between flex-row col-11">
                                        <h2 class='golfclub-title mr-2 mt-3 mb-3' title={{ hole.holeNumber }}>
                                            Hole {{ hole.holeNumber }}
                                        </h2>
                                        <h3 class="golfclub-title mr-2 mt-3 mb-3">Par {{ hole.par }}</h3>
                                    </div>
                                </div>
                                <div class="item-body col-12 d-flex">
                                    <div class="d-flex justify-content-start flex-row col-6 col- align-items-center">
                                        <div class="item-body-court col-12 m-0 p-0">
                                            <h4 class="item-body-court-entry distance">Distance: {{ hole.distance }} m</h4>
                                            <h4 class="item-body-court-entry handicap">HCP: {{ hole.hcp }}</h4>
                                        </div>
                                        <div class="item-body-user col-6 text-right mt-3">
                                        </div>
                                    </div>
                                    <div class="item-body-select col-6 mb-2 pr-0 d-flex flex-column justify-content-end">
{#                                        <div class="d-flex flex-row justify-content-end">#}
{#                                            <a class="btn btn-primary float-right float-bottom" href="#">#}
{#                                                View hole statistics#}
{#                                            </a>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    {% if holes|length is same as 0 or holes|length > 0 and holes|length < holes.0.courseHolesAmount %}
                        <div class="mb-3 mt-3 d-flex flex-row justify-content-center">
                            <a class="btn btn-primary w-25" href="/createhole?courseId={{ courseId }}">
                                Add new hole
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
